# Sobre o trabalho

O trabalho a seguir foi feito utilizando dados obtidos de um questionário de pesquisa de intenção de voto da eleição para prefeito de Coari do ano de 2012.

# Preparação do dataframe

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Download do Dataframe abaixo
!npx degit wfsilva-uea/coari/coari_db_filtrado.csv coari_db.csv -f

npx: installed 1 in 2.358s
> cloned wfsilva-uea/coari#master to coari_db.csv

In [7]:
types = {
  'Idade': int, 
  'Genero': str, 
  'Faixa': str, 
  'Bairro': str, 
  'Prioridade': str, 
  'Intencao': str, 
  'Por Omar': str, 
  'Por Braga': str, 
}
# Abertura inicial do dataframe
df = pd.read_csv('coari_db.csv', dtype=types)

# Leitura do dataframe

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Idade       461 non-null    int64
 1   Faixa       461 non-null    object
 2   Bairro      461 non-null    object
 3   Genero      461 non-null    object
 4   Prioridade  453 non-null    object
 5   Intencao    425 non-null    object
 6   Por Omar    461 non-null    object
 7   Por Braga   460 non-null    object
dtypes: int64(1), object(7)
memory usage: 28.9+ KB

**Conclusão do comando info()**: a coluna "intenção de voto" e "prioridades em coari" apresentam a maior taixa de dados nulos (por conta do entrevistado não quis responder). a coluna "votaria em quem for indicado pelo Braga" apresenta 1 uma pessoa que não quis responder.

In [11]:
df.tail() 
# aperto apenas final para confirmar total de 461 (0-460) itens presente no dataframe.

     Idade    Faixa   Bairro  ... Intencao     Por Omar    Por Braga
456     16  16 e 17  Do Pera  ...    Adail          Sim          Sim
457     37  30 a 39  Do Pera  ...    Adail  Sem Opiniao          Sim
458     30  30 a 39  Do Pera  ...    Adail          Sim          Não
459     32  30 a 39  Do Pera  ...    Adail  Sem Opiniao  Sem Opiniao
460     54  50 a 59  Do Pera  ...    Adail          Sim          Não

[5 rows x 8 columns]

## Divisão Populacional por Gênero

In [19]:
val_genero = df["Genero"].value_counts()
val_genero

Feminino     232
Masculino    229
Name: Genero, dtype: int64

## Divisão Populacional por Bairro

In [26]:
val_bairro = df["Bairro"].value_counts()
val_bairro

Chagas            60
Urucu             55
União             55
Centro            54
Itamarati         47
Tauá Mirim        47
Santa Efigênia    31
Duque             29
Santa Helena      28
Do Pera           28
Espirito Santo    23
Z - Rural          3
centro             1
Name: Bairro, dtype: int64

## Divisão Populacional por Faixa Etária

In [20]:
val_idade = df["Idade"].value_counts()
val_idade

18    29
19    21
21    21
29    21
30    17
      ..
68     1
66     1
65     1
80     1
91     1
Name: Idade, Length: 61, dtype: int64

In [21]:
val_faixa = df["Faixa"].value_counts()
val_faixa

30 a 39    99
18 a 21    85
40 a 49    65
25 a 29    63
22 a 24    44
50 a 59    42
60 e +     39
16 e 17    24
Name: Faixa, dtype: int64

### Tabela cruzada "Genero" x "Faixa Etária"

In [28]:
tab02=pd.crosstab(df["Genero"],df["Faixa"],margins=True)
tab02

Faixa      16 e 17  18 a 21  22 a 24  25 a 29  ...  40 a 49  50 a 59  60 e +  All
Genero                                         ...
Feminino        14       45       22       34  ...       31       17      22  232
Masculino       10       40       22       29  ...       34       25      17  229
All             24       85       44       63  ...       65       42      39  461

[3 rows x 9 columns]

## Divisão Populacional segundo Problema Prioritário

In [22]:
val_prioridade = df["Prioridade"].value_counts()
val_prioridade

Emprego                     122
Saúde                       121
Segurança                    39
Salário                      29
Corrupção                    25
Saneamento e urbanização     19
Asfalto                      19
Educação                     16
Infraestrutura               16
Renda                        14
Outros                        9
Administração pública         9
Moradia                       8
Energia                       4
Água                          2
Transporte                    1
Name: Prioridade, dtype: int64

### Tabela cruzada "Prioridade em Coari" x "Bairro"

In [29]:
tab03=pd.crosstab(df["Prioridade"],df["Bairro"],margins=True)
tab03

Bairro                    Centro  Chagas  Do Pera  ...  Z - Rural  centro  All
Prioridade                                         ...
Administração pública          0       2        0  ...          0       0    9
Asfalto                        0       4        0  ...          0       0   19
Corrupção                      3       3        2  ...          2       0   25
Educação                       3       1        1  ...          0       0   16
Emprego                       10      12        8  ...          1       1  122
Energia                        0       0        0  ...          0       0    4
Infraestrutura                 2       1        3  ...          0       0   16
Moradia                        0       1        1  ...          0       0    8
Outros                         1       0        1  ...          0       0    9
Renda                          3       3        1  ...          0       0   14
Salário                        5       6        1  ...          0       0   29
Saneamento e urbanização       3       2        0  ...          0       0   19
Saúde                         15      18        8  ...          0       0  121
Segurança                      7       6        1  ...          0       0   39
Transporte                     1       0        0  ...          0       0    1
Água                           0       0        1  ...          0       0    2
All                           53      59       28  ...          3       1  453

[17 rows x 14 columns]

## Divisão Populacional segundo pretenção de voto

In [23]:
val_intencao = df["Intencao"].value_counts()
val_intencao

Adail        174
Magalhaes    137
Mitouso       45
f             30
Nulo          20
indeciso       9
Iran           7
h              1
C.T.           1
g              1
Name: Intencao, dtype: int64

### Tabela cruzada "Intenção de Voto" x "Faixa Etária"

In [31]:
tab04=pd.crosstab(df["Intencao"],df["Faixa"],margins=True)
tab04

Faixa      16 e 17  18 a 21  22 a 24  25 a 29  ...  40 a 49  50 a 59  60 e +  All
Intencao                                       ...
Adail            8       27       14       28  ...       27       15       9  174
C.T.             0        0        1        0  ...        0        0       0    1
Iran             2        2        0        1  ...        0        1       0    7
Magalhaes       10       33       19       19  ...       16       13       9  137
Mitouso          1        6        4        5  ...        6        4       9   45
Nulo             0        5        1        4  ...        4        2       2   20
f                0        7        2        3  ...        3        1       5   30
g                0        1        0        0  ...        0        0       0    1
h                0        0        1        0  ...        0        0       0    1
indeciso         0        1        0        2  ...        1        2       0    9
All             21       82       42       62  ...       57       38      34  425

[11 rows x 9 columns]

## Divisão Populacional segundo influência Omar x Braga

In [24]:
val_omar = df["Por Omar"].value_counts()
val_omar

Sem Opiniao    183
Sim            158
Não            120
Name: Por Omar, dtype: int64

In [25]:
val_braga = df["Por Braga"].value_counts()
val_braga

Sim            178
Sem Opiniao    143
Não            138
b                1
Name: Por Braga, dtype: int64

### Tabela cruzada "Braga" x "Bairro"

In [32]:
tab01=pd.crosstab(df["Por Braga"],df["Bairro"],margins=True)
tab01

Bairro       Centro  Chagas  Do Pera  Duque  ...  Urucu  Z - Rural  centro  All
Por Braga                                    ...
Não              15      11        7     12  ...     20          0       1  138
Sem Opiniao      15      19       11      8  ...     14          2       0  143
Sim              23      30       10      9  ...     21          1       0  178
b                 0       0        0      0  ...      0          0       0    1
All              53      60       28     29  ...     55          3       1  460

[5 rows x 14 columns]

### Tabela cruzada "Omar" x "Bairro"

In [34]:
tab00=pd.crosstab(df["Por Omar"],df["Bairro"],margins=True)
tab00
# tabela cruzada entre influência por Braga e por Omar

Bairro       Centro  Chagas  Do Pera  Duque  ...  Urucu  Z - Rural  centro  All
Por Omar                                     ...
Não               8      17        4     10  ...     17          0       0  120
Sem Opiniao      20      21        9     11  ...     19          1       1  183
Sim              26      22       15      8  ...     19          2       0  158
All              54      60       28     29  ...     55          3       1  461

[4 rows x 14 columns]